<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" version="{{ meta.version }}" viewmodes="maximized">
  <tizen:application id="{{ meta.id }}" package="{{ meta.tizen_package }}" required_version="8.0"/>
  <feature name="http://tizen.org/feature/screen.size.all"/>
  <icon src="icon80x80.png"/>
  <content src="index.html"/>
  <name>{{ meta.title }}</name>
  <author>{{ meta.author }}</author>
  <description>{{ meta.description }}</description>
  <tizen:profile name="tizen"/>
</widget>
