<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ meta.title }} - {{ meta.version }}</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="{{ meta.description }}"/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ meta.title }}" />
    <meta property="og:description" content="{{ meta.description }}"/>
    <meta property="twitter:title" content="{{ meta.title }}" />
    <meta property="twitter:description" content="{{ meta.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <style>
        *, *::after, *::before {
            touch-action: none;
            box-sizing: border-box;
            border: 0;
            padding: 0;
            margin: 0;
        }
        body {
            height: 99.998vh;
            display: flex;
            overflow: hidden;
            justify-content: center;
            align-items: start;
            background-color: gray;
        }
        main {
          position: relative;
          width: 100%;
          height: 100%;
        }
        video {
          position: absolute;
        }
        canvas {
          position: absolute;
          image-rendering: pixelated;
        }
    </style>
    {{# args.gamepadzilla }}
    <style>
      .gpz-btn4{
        right: 0;
        bottom: 0;
      }
      .gpz-joy {
        left: 0;
        bottom: 0;
      }
    </style>
    {{/ args.gamepadzilla }}
  </head>
  <body>
    <main>
      <canvas id="gameCanvas"></canvas>
      {{# args.gamepadzilla }}
      <canvas width="150" height="150"
        class="gpz-joy"
        data-gpz-bind="ArrowUp ArrowLeft ArrowDown ArrowRight">
      </canvas>
      <canvas width="150" height="150"
        class="gpz-btn4"
        data-gpz-bind="KeyC KeyV KeyZ KeyX">
      </canvas>
      {{/ args.gamepadzilla }}
    </main>
    {{# core.html5_ginga }}
    <script src="index.js"></script>
    {{/ core.html5_ginga }}
    {{# args.videofake }}
    <script>window.videofake=100</script>
    {{/ args.videofake }}
    {{# args.videojs }}
    <script src="https://cdn.jsdelivr.net/npm/video.js@8.22.0/dist/video.min.js"></script>
    {{/ args.videojs }}
    <script src="https://cdn.jsdelivr.net/npm/@gamely/core-native-html5@0.1.1"></script>
    {{# args.gamepadzilla }}
    <script src="https://cdn.jsdelivr.net/npm/gamepadzilla@1"></script>
    {{/ args.gamepadzilla }}
    {{# args.fengari }}
    <script src="https://cdn.jsdelivr.net/npm/fengari-web@latest/dist/fengari-web.js"></script>
    {{/ args.fengari }}
    {{^ args.fengari }}
    <script type="module">
    import { LuaFactory, LuaMultiReturn } from 'https://cdn.jsdelivr.net/npm/wasmoon@1.16.0/+esm'
    window.LuaFactory = LuaFactory
    window.LuaMultiReturn = LuaMultiReturn
    </script>
    {{/ args.fengari }}
    <script>
      document.addEventListener('DOMContentLoaded', async () => {
        window.gly = await core_native_html5()
          .set_el_root('main')
          .set_el_canvas('#gameCanvas')
          .set_library('wasmoon', window.LuaFactory, window.LuaMultiReturn)
          .set_library('fengari', window.fengari)
          .set_library('fengari-jsonrxi', 'https://cdn.jsdelivr.net/gh/rxi/json.lua/json.lua')
          .set_library('fengari-or-wasmoon-check')
          .set_library('runtime', {unfocus_pause: true})
          .set_library('gamepad')
          .set_library('keyboard')
          .set_library('resize')
          .set_library('player-html5')
          .set_library('player-youtube')
          .set_library('player-fake', window.videofake)
          .set_library('player-videojs', window.videojs)
          .set_engine(`{{ env.build.html5_src_engine }}`)
          .set_game(`{{ env.build.html5_src_game }}`)
          .build()
      })
    </script>
  </body>
</html>
